@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

/* :root {
  --primary-color: #0c111d;
  --text-color: #344054;
} */

body {
  font-family: 'Onest', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#audio-player {
  width: 300px;
  background-color: #ffff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 8px;
}

button {
  width: 100%;
  background-color: #7f56d9;
  border: none;
  color: #ffff;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #6941c6;
}

#stop {
  background-color: #d92d20;
}

#stop:hover {
  background-color: #b42318;
}

.volume-control {
  position: relative;
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 8px;
  margin: 20px 0;
}

#volume-slider {
  appearance: none;
  width: 100%;
  height: 8px;
  background: transparent;
  outline: none;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #2196f3;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-top: -16px;
}

#volume-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #2196f3;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-top: -16px;
}

#volume-slider::-webkit-slider-runnable-track {
  height: px;
  background: transparent;
}

#volume-slider::-moz-range-track {
  height: 8px;
  background: transparent;
}

#slider-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  background: #2196f3;
  border-radius: 4px;
  pointer-events: none;
}

#volume-value,
#timestamp {
  text-align: center;
  margin-top: 10px;
  color: #333;
  font-size: 14px;
}
